:root {
	margin: 0 2rem;
	box-sizing: border-box;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: hsl(0, 0%, 17%);
}

h1 {
	font-size: 3.2em;
}

input {
	margin-left: 0.5rem;
}

.flag--img {
	width: 100%;
	min-width: 10rem;
	max-width: 18rem;
}
